{% extends 'base.html' %}

{%block content_title %}
<h1>Create a Post</h1>
{%endblock%}

{% block content %}
   <div class="container">
        <form action="{{ url_for('posts.create_post') }}" method="POST">
            {% for field in form %}
                <div class="form-group">
                    {{ field.label(class='control-label') }}
                    {{ field(class='form-control') }}
                </div>
            {% endfor %}
            <button class="btn btn-success" type="submit" role="button">Create</button>
        </form>
   </div>
{% endblock %}