{% extends 'base.html' %}
{%block title %} Blueprint {%endblock%}

{%block content_title %}
{{ post.title }}
{%endblock%}

{%block content %}
    <div class="tags">
        {% for tag in post.tags %}
        <span class="label label-primary"><a href="{{ url_for('posts.tag_detail', slug=tag.slug) }}">{{ tag.name }}</a></span>
        {% endfor %}
    </div>
    {{ post.body }}
{%endblock%}