{% extends 'base.html' %}
{% block content %}
    <span><h3> Name of the tag: "{{ tag.name }}" .</h3></span>
    <div class="posts-container mt-4">
        {% for post in data %}
        <span><a href="{{ url_for('posts.post_view', slug=post.slug) }}">{{ post.title }}</a></span>
            <span>{{ post.body }}</span>
            <span>{{ post.id }}</span>
        {% endfor %}
    </div>
{% endblock %}